.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  padding: 2em 0em 2em 0em;
  background-color: #FEF87E;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;

  background-color: #ABD2EF;
  padding: .05em 1em;
  border-radius: 4em;
}

.imagem-patolildo {
  width: 60px;
}

.texts{
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.7rem;
}

.subtitle {
  font-size: 0.9rem;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 1em;

  background-color: aliceblue;
  padding: 1em 1em 3em 1em;
  border-radius: 1em;
  box-shadow: 0 20px 40px rgba(0,0,0, 0.6);
}

.links-title {
  font-size: 1.7rem;
  text-align: center;
}

.link-texts {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  padding: 1em;
  background-color: #ABD2EF;
  border-radius: 2em;
  
  box-shadow: 0 20px 40px rgba(0,0,0, 0.6);
  text-align: center;
}

.link-label {
  font-size: 20px;
}

